@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	all: unset;
	cursor: pointer;
}

body {
	font-family: 'Quicksand', sans-serif;
	display: grid;
	place-items: center;
	background: #7f7fd5;
	background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
	padding: 15px;
}

#index {
	min-height: 100vh;
}

a.card {
	display: block;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* max-width: 1200px; */
	/* margin-block: 2rem; */
	gap: 2rem;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	overflow: hidden;
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	background: #ece9e6;
	background: linear-gradient(to right, #ffffff, #ece9e6);
	padding: 15px;
}

#index .card {
	width: clamp(20rem, calc(20rem + 2vw), 22rem);
	padding: 0;
}

.card__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-top: 20px; */
}

.card__body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.tag {
	align-self: flex-start;
	padding: 0.25em 0.75em;
	border-radius: 1em;
	font-size: 0.75rem;
}

.tag + .tag {
	margin-left: 0.5em;
}

.tag-blue {
	background: #56ccf2;
	background: linear-gradient(to bottom, #2f80ed, #56ccf2);
	color: #fafafa;
}

.tag-brown {
	background: #d1913c;
	background: linear-gradient(to bottom, #ffd194, #d1913c);
	color: #fafafa;
}

.tag-red {
	background: #cb2d3e;
	background: linear-gradient(to bottom, #ef473a, #cb2d3e);
	color: #fafafa;
}

.card__body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.card__footer {
	display: flex;
	padding: 1rem;
	margin-top: auto;
}

.user {
	display: flex;
	gap: 0.5rem;
}

.user__image {
	border-radius: 50%;
}

.user__info > small {
	color: #666;
}
.card a {
	text-decoration: none;
	color: #666;
}
.card a:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-decoration: underline;
	padding: 3px;
}
/* BACK */
#back {
	width: 10%;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	text-align: center;
	margin-bottom: 15px;
}
#back > a {
	color: black;
	text-decoration: none;
}
#back:hover {
	background-color: white;
}
/* Comments */
#comments {
	background-color: white;
	width: 90%;
	min-height: 400px;
	margin-top: 15px;
	border-radius: 20px 20px 0 0;
	padding: 10px;
}
#addComment {
	text-align: center;
}
#addComment > input {
	width: 200px;
	height: 40px;
	border-radius: 9999px;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
}
#addComment > input:focus {
	background-color: white;
}
#addComment > button {
	background: rgba(128, 128, 214, 0.1);
	background: linear-gradient(to right, rgba(145, 234, 228, 0.3), rgba(134, 168, 231, 0.3), rgba(127, 127, 213, 0.3));
	width: 60px;
	height: 40px;
	border-radius: 10px;
	border: none;
	color: black;
	font-size: 1.2em;
}
#addComment > button:hover {
	cursor: pointer;
	background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
	color: white;
}
.comment {
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	text-align: center;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

div > p:nth-child(1) {
	margin-top: 20px;
}

#pages {
	display: flex;
	justify-content: center;
	width: 90%;
	background-color: white;
	border-radius: 0 0 20px 20px;
	padding-bottom: 10px;
}
.page {
	width: 20px;
	font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
	margin-right: 5px;
}
.page:not(.selected):hover {
	background-color: white;
	cursor: pointer;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

div > p:nth-child(1) {
	margin-top: 20px;
}

#index .content {
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

#index .title {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
}

.selected {
	background-color: rgba(102, 50, 154, 0.5);
}

.comments-link {
	display: none;
}

#index .comments-link {
	display: inline;
}
